#wallmountpane {
    background-color: black;
}

#rotatorpane > div {
    background-color: black;
}

.container:empty {
    background: none repeat scroll 0 0 transparent;
}

/*
.dijitContentPane {
    padding: 2px 2px 20px !important;	
}
*/

.dojoxFloatingPane {
    -webkit-box-shadow: 0px 0px 0px #adadad;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 4px solid #00CC00;
    background-color: transparent;  
}

.dojoxFloatingPaneTitle {
    padding: 4px 4px 2px 10px;
    -moz-border-radius: 23px 23px 0 0;
    -webkit-border-radius: 23px 23px 0 0;
    font-size: 15px;
    font-weight: bold;
    color: black;   
    background-color: #00CC00;
    border: none;
}

.dojoxFloatingPaneContent {
    background-color: transparent;  
}

.dojoxFloatingPaneCanvas {
    background-color: transparent;
}

.hypericMoveablePane {
	background: none repeat scroll 0 0 transparent;
}

.dojoDndItem {
	color: white;
}

.wallmountItemTitle {
    color: #00CC00;
}

.claro .dijitInlineEditBoxDisplayMode {
    background-color: transparent;
    color: darkgreen; 
}

.hypericDndTable {
    border: 1px solid white;
    border-collapse:collapse;
}

.hypericDndTableCell {
    border: 1px solid white;
}
