
#wallmountpane {
    background-color: black;
}

.container:empty {
    background: none repeat scroll 0 0 transparent;
}

.dojoxFloatingPane {
    background-color: transparent;	
}

.dojoxFloatingPaneContent {
    background-color: transparent;	
}

.dojoxFloatingPaneCanvas {
	background-color: transparent;
}

.wallmountItemTitle {
	color: white;
}

.dojoxFloatingPaneTitle {
    color: white;	
    background-color: transparent;  
}

.claro .dijitInlineEditBoxDisplayMode {
    background-color: transparent;	
}

.hypericMoveablePane {
    background: none repeat scroll 0 0 transparent;
}

.dojoDndItem {
    color: white;
}