<div class="hypericPropertiesPane" id="${id}">
    <div dojoAttachPoint="containerNode" >
    
        <div id="${id}_titleProperties" class="fieldSet" style="display: none;" dojoAttachPoint="titleProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Title</div>
                <p>
                    <label class="propertytext">Text:</label>
                    <input style="float:left;" id="${id}_title" name="titletext" dojoAttachPoint="titletext" class="textbox" dojoType="dijit.form.TextBox" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Position:</label>
                    <select style="float:left;" id="${id}_titleposition" name="titleposition" dojoAttachPoint="titleposition" class="textbox" dojoType="dijit.form.Select" intermediateChanges="true" observer="handleValues">
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                        <option value="left">Left</option>
                        <option value="right">Right</option>
                    </select>
                </p>
            </fieldset>                
        </div>
    
        <div id="${id}_sizeProperties" class="fieldSet" style="display: none;" dojoAttachPoint="sizeProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Component size</div>
                <p>
                    <label class="propertytext">Width:</label>
                    <input style="float:left;" id="${id}_width" name="width" dojoAttachPoint="width" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Height:</label>
                    <input style="float:left;" id="${id}_height" name="height" dojoAttachPoint="height" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>

        <div id="${id}_sizePropertiesSize" class="fieldSet" style="display: none;" dojoAttachPoint="sizePropertiesSize">
            <fieldset>
                <div class="hypericPropertiesHeader">Component size</div>
                <p>
                    <label class="propertytext">Size:</label>
                    <input style="float:left;" id="${id}_size" name="size" dojoAttachPoint="size" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>
        
        <div id="${id}_arrowProperties" class="fieldSet" style="display: none;" dojoAttachPoint="arrowProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Arrow</div>
                <p>
                    <label class="propertytext">Count:</label>
                    <input style="float:left;" id="${id}_arrowcount" name="arrowcount" dojoAttachPoint="arrowcount" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Width:</label>
                    <input style="float:left;" id="${id}_arrowwidth" name="arrowwidth" dojoAttachPoint="arrowwidth" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Gap:</label>
                    <input style="float:left;" id="${id}_arrowgap" name="arrowgap" dojoAttachPoint="arrowgap" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Head:</label>
                    <input style="float:left;" id="${id}_arrowheadlength" name="arrowheadlength" dojoAttachPoint="arrowheadlength" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Color:</label>
                    <button style="float:left;" dojoType="dijit.form.DropDownButton" dojoAttachPoint="spinnercolorbutton" iconClass="noteIcon" value="color">
                        <span>Color</span>
                        <div id="${id}_spinnercolor" name="spinnercolor" dojoAttachPoint="spinnercolor" dojoType="dijit.ColorPalette" id="colorPalette" style="display: none" palette="7x10"></div>
                    </button>                    
                </p>
            </fieldset>                
        </div>

        <div id="${id}_arrowPipeProperties" class="fieldSet" style="display: none;" dojoAttachPoint="arrowPipeProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Arrow</div>
                <p>
                    <label class="propertytext">Count:</label>
                    <input style="float:left;" id="${id}_arrowpipecount" name="arrowpipecount" dojoAttachPoint="arrowpipecount" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Gap:</label>
                    <input style="float:left;" id="${id}_arrowpipegap" name="arrowpipegap" dojoAttachPoint="arrowpipegap" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Head:</label>
                    <input style="float:left;" id="${id}_arrowpipeheadlength" name="arrowpipeheadlength" dojoAttachPoint="arrowpipeheadlength" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>

        <div id="${id}_labelProperties" class="fieldSet" style="display: none;" dojoAttachPoint="labelProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Label</div>
                <p>
                    <label class="propertytext">Color:</label>
                    <button style="float:left;" dojoType="dijit.form.DropDownButton" dojoAttachPoint="labelcolorbutton" iconClass="noteIcon" value="color">
                        <span>Color</span>
                        <div id="${id}_labelcolor" name="labelcolor" dojoAttachPoint="labelcolor" dojoType="dijit.ColorPalette" id="colorPalette" style="display: none" palette="7x10"></div>
                    </button>
                    
                </p>
            </fieldset>                
        </div>

        <div id="${id}_rangeSpeedProperties" class="fieldSet" style="display: none;" dojoAttachPoint="rangeSpeedProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Speed</div>
                <p>
                    <label class="propertytext">Min Range:</label>
                    <input style="float:left;" id="${id}_minrange" name="minrange" dojoAttachPoint="minrange" class="textbox" dojoType="hyperic.form.UnitsNumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Max Range:</label>
                    <input style="float:left;" id="${id}_maxrange" name="maxrange" dojoAttachPoint="maxrange" class="textbox" dojoType="hyperic.form.UnitsNumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Speed Time:</label>
                    <input style="float:left;" id="${id}_speedtime" name="speedtime" dojoAttachPoint="speedtime" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>

        <div id="${id}_rangesProperties" class="fieldSet" style="display: none;" dojoAttachPoint="rangesProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Ranges</div>
                <p>
                    <label class="propertytext">Alarm Range:</label>
                    <select style="float:left; margin-right:4px;" id="${id}_alarmrangecomp" name="alarmrangecomp" dojoAttachPoint="alarmrangecomp" class="textbox" dojoType="dijit.form.Select" intermediateChanges="true" observer="handleValues">
                        <option value="&gt;">&gt;</option>
                        <option value="&lt;">&lt;</option>
                    </select>
                    <input style="float:left;" id="${id}_alarmrange" name="alarmrange" dojoAttachPoint="alarmrange" class="textbox" dojoType="hyperic.form.UnitsNumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">&nbsp;</label>
                    <button style="float:left;" dojoType="dijit.form.DropDownButton" dojoAttachPoint="alarmrangecolorbutton" iconClass="noteIcon" value="color">
                        <span>Color</span>
                        <div id="${id}_alarmrangecolor" name="alarmrangecolor" dojoAttachPoint="alarmrangecolor" dojoType="dijit.ColorPalette" id="colorPalette" style="display: none" palette="7x10"></div>
                    </button>                    
                </p>
                <p>
                    <label class="propertytext">Warn Range:</label>
                    <select style="float:left; margin-right:4px;" id="${id}_warnrangecomp" name="warnrangecomp" dojoAttachPoint="warnrangecomp" class="textbox" dojoType="dijit.form.Select" intermediateChanges="true" observer="handleValues">
                        <option value="&gt;">&gt;</option>
                        <option value="&lt;">&lt;</option>
                    </select>
                    <input style="float:left;" id="${id}_warnrange" name="warnrange" dojoAttachPoint="warnrange" class="textbox" dojoType="hyperic.form.UnitsNumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">&nbsp;</label>
                    <button style="float:left;" dojoType="dijit.form.DropDownButton" dojoAttachPoint="warnrangecolorbutton" iconClass="noteIcon" value="color">
                        <span>Color</span>
                        <div id="${id}_warnrangecolor" name="warnrangecolor" dojoAttachPoint="warnrangecolor" dojoType="dijit.ColorPalette" id="colorPalette" style="display: none" palette="7x10"></div>
                    </button>                    
                </p>
            </fieldset>                
        </div>
        
    </div>
</div>
