<div class="hypericPropertiesPane" id="${id}">
    <div dojoAttachPoint="containerNode" >
    
        <div id="${id}_titleProperties" class="fieldSet" style="display: none;" dojoAttachPoint="titleProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Title</div>
                <p>
                    <label class="propertytext">Text:</label>
                    <input style="float:left;" id="${id}_title" name="titletext" dojoAttachPoint="titletext" class="textbox" dojoType="dijit.form.TextBox" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Position:</label>
                    <select style="float:left;" id="${id}_titleposition" name="titleposition" dojoAttachPoint="titleposition" class="textbox" dojoType="dijit.form.Select" intermediateChanges="true" observer="handleValues">
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                        <option value="left">Left</option>
                        <option value="right">Right</option>
                    </select>
                </p>
            </fieldset>                
        </div>
    
        <div id="${id}_sizeProperties" class="fieldSet" style="display: none;" dojoAttachPoint="sizeProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Component size</div>
                <p>
                    <label class="propertytext">Width:</label>
                    <input style="float:left;" id="${id}_width" name="width" dojoAttachPoint="width" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Height:</label>
                    <input style="float:left;" id="${id}_height" name="height" dojoAttachPoint="height" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>

        <div id="${id}_sizePropertiesSize" class="fieldSet" style="display: none;" dojoAttachPoint="sizePropertiesSize">
            <fieldset>
                <div class="hypericPropertiesHeader">Component size</div>
                <p>
                    <label class="propertytext">Size:</label>
                    <input style="float:left;" id="${id}_size" name="size" dojoAttachPoint="size" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>
        
        <div id="${id}_arrowProperties" class="fieldSet" style="display: none;" dojoAttachPoint="arrowProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Arrow</div>
                <p>
                    <label class="propertytext">Count:</label>
                    <input style="float:left;" id="${id}_arrowcount" name="arrowcount" dojoAttachPoint="arrowcount" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Width:</label>
                    <input style="float:left;" id="${id}_arrowwidth" name="arrowwidth" dojoAttachPoint="arrowwidth" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Gap:</label>
                    <input style="float:left;" id="${id}_arrowgap" name="arrowgap" dojoAttachPoint="arrowgap" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Head:</label>
                    <input style="float:left;" id="${id}_arrowheadlength" name="arrowheadlength" dojoAttachPoint="arrowheadlength" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>

        <div id="${id}_arrowPipeProperties" class="fieldSet" style="display: none;" dojoAttachPoint="arrowPipeProperties">
            <fieldset>
                <div class="hypericPropertiesHeader">Arrow</div>
                <p>
                    <label class="propertytext">Count:</label>
                    <input style="float:left;" id="${id}_arrowpipecount" name="arrowpipecount" dojoAttachPoint="arrowpipecount" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Gap:</label>
                    <input style="float:left;" id="${id}_arrowpipegap" name="arrowpipegap" dojoAttachPoint="arrowpipegap" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
                <p>
                    <label class="propertytext">Head:</label>
                    <input style="float:left;" id="${id}_arrowpipeheadlength" name="arrowpipeheadlength" dojoAttachPoint="arrowpipeheadlength" class="textbox" dojoType="dijit.form.NumberSpinner" intermediateChanges="true" observer="handleValues"></input>
                </p>
            </fieldset>                
        </div>
        
    </div>
</div>
